
<h1 id="titnota">{{nota.titulo}}</h1>
<p id="textinput">{{nota.texto}}</p>
<div id="boxbutton">
    <button onclick="window.location.href='http://localhost:8081/anotacao'" id="buttonvoltar">Voltar</button>
</div>